@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #e6e6ff;
    max-width: 100%;
    width: 100vw;
    overflow-x: hidden;
    font-family: "Montserrat", sans-serif;
}

.animated-btn{
    animation-duration: 10000ms;
}